<header class="text-white p-3">
	<div class="container">
		<div class="d-flex flex-column flex-md-row align-items-center justify-content-between">
			<a class="text-white text-decoration-none" href="{{ path('app_home') }}" hx-get="{{ path('app_home') }}" hx-target="#content" hx-push-url="true">
				<h1 id="title">
					Mon Portfolio
				</h1>
			</a>
			<nav>
				<ul class="nav">
					<li class="nav-item">
						<a href="{{ path('app_profilPro') }}" hx-get="{{ path('app_profilPro') }}" hx-target="#content" hx-push-url="true" class="nav-link text-white">Profil Professionel</a>
					</li>
					<li class="nav-item">
						<a href="{{ path('app_studies', {'year': 1}) }}" hx-get="{{ path('app_studies', {'year': 1}) }}" hx-target="#content" hx-push-url="true" class="nav-link text-white">BUT 1</a>
					</li>
					<li class="nav-item">
						<a href="{{ path('app_studies', {'year': 2}) }}" hx-get="{{ path('app_studies', {'year': 2}) }}" hx-target="#content" hx-push-url="true" class="nav-link text-white">BUT 2</a>
					</li>
					<li class="nav-item">
						<a href="{{ path('app_studies', {'year': 3}) }}" hx-get="{{ path('app_studies', {'year': 3}) }}" hx-target="#content" hx-push-url="true" class="nav-link text-white">BUT 3</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>
